[submodule "Lumina/vendor/spdlog"]
	path = Lumina/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lumina/vendor/GLFW"]
	path = Lumina/vendor/GLFW
	url = https://github.com/glfw/glfw.git
